[Unit]
Description=NFC reader to quicktill bridge
BindsTo=pcscd.service
After=pcscd.service

[Service]
Type=notify
DynamicUser=yes
User=quicktill-nfc-bridge
ExecStart=!/usr/sbin/quicktill-nfc-bridge --notify-startup --fake-keypress --setuser=quicktill-nfc-bridge
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
